* {
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer{
    display: block;
    text-align: center;
}

legend{
    display: block;
    text-align: center;
}